[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = http://github.com/gmarik/Vundle.vim
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = http://github.com/plasticboy/vim-markdown
